* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
/* PALETTE 
blue bottons #0061ff
light blue #b4d0e7 */

/* COMMON */
html {
  font-size: 100%;
  font-family: sans-serif;
}
img {
  width: 100%;
}
p {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.a-odd {
  text-decoration: underline;
  color: #0061ff;
}
ul {
  list-style: none;
  list-style-position: inside;
}
li {
  font-weight: 100;
}
.container {
  width: 60%;
  /* border: 1px solid black; */
  margin: 0 auto 3em;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
  justify-content: space-between;
}
button {
  background-color: #0061ff;
  color: white;
  padding: 1em 1.5em;
  border: none;
  cursor: pointer;
}
svg {
  fill: white;
  display: block;
  max-width: 50%;
   */
}

/* DEBUG IMG PLACEHOLDER */
/* .img {
  background-color: purple;
  width: 200px;
  height: 200px;
  border: 1px solid red;
} */

/* HEADER */
header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 0.5em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

nav ul > * {
  padding: 1em 1.5em;

  font-weight: 100;
  align-items: center;
}

#logo {
  padding: 0.8em;
}
#logo:hover {
  border-bottom: 4px solid forestgreen;
}

nav li:hover {
  border-bottom: 3px solid forestgreen;
}
/* JUMBOTRON */

.jumbo {
  width: 100%;
  background-color: #b4d0e7;
  margin-top: 3em;
}
.container h1 {
  padding: 1em 1em 0em 0em;
  font-size: 4.5rem;
}

.jumbo-flex {
  display: flex;
  align-items: center;
}
.jumbo-flex > * {
  padding: 0.5em 0em;
}

#jumbo-txt {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 1.2rem;
  font-weight: 100;
}

#jumbo-txt button {
  margin: 2em 0;
  font-size: 1.2rem;
}
#jumbo-txt i {
  font-size: 3.5rem;
  margin-top: 1em;
}
#jumbo-img {
  flex-grow: 3;
  flex-basis: 0;
  /* margin-bottom: -3em; */
}
/* SECTION1 */

.container h2 {
  font-size: 2.5rem;
  padding: 1em 0;
}

.radio text {
  padding: 2em;
}

input:checked {
  border: 6px solid #0061ff;
}
input {
  appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  border: 2px solid #d0d0d5;
  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  margin: 1em;
}

.plans {
  gap: 2em;
}
.membership {
  width: calc(100% / 3 - 2em);
  border: 1px solid #f1f1f2;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.membership.odd {
  width: 100%;
  padding: 2em 0 2em 0;
}

.membership > * {
  padding: 1em 0;
}
.membership-type {
  text-align: center;
  border: 1px solid #f1f1f2;
}
.membership h3 {
  font-size: 1.5rem;
  padding: 1em 0 0 0;
}
.membership span {
  font-weight: 100;
}
.price {
  font-weight: bold;
  padding: 0.5em 0;
}
.monthly {
  font-weight: 100;
}

.membership .free-trial {
  padding: 0.5em 1em;
  text-align: center;
  margin: 0 auto;
}
.free-trial button {
  width: 90%;
}

.membership .odd p {
  padding: 1.5em;
}
#membership-odd-txt {
  padding: 2em;
}

#stretched-btn {
  width: 100%;
}
.hr-small {
  border-color: #d0d0d5;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  width: 10em;
}

.membership h5 {
  font-size: 1rem;
}

.membership li {
  padding-bottom: 1em;
  font-weight: 100;
}
.fa-check {
  color: #0061ff;
}
.odd h3 {
  padding: 0;
}
/* SECTION2 */

#section2-txt {
  flex-shrink: 1.6;
  padding: 1em;
}
#section2-txt p {
  font-weight: 100;
  padding-bottom: 1em;
}
#section2-txt button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* SECTION3 */
.card {
  /* border: 1px solid black; */
  width: calc(100% / 3);
  padding: 1em;
}
.card h3 {
  font-size: 1.5rem;
  padding: 1em 0 1.3em 0;
}
.card p {
  font-weight: 100;
}

/* SECTION4 */

.h2-spaced {
  margin-bottom: 3em;
}

/* SECTION5 */
.partners {
  width: calc(100% / 3);
}
.partners .section5-img {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0061ff; */
  height: 250px;
  padding: 2em;
}
.centre {
  background-color: #f5f5f5;
  font-weight: 100;
  position: relative;
}
#design-centre {
  padding: 1em 0 0 2.5em;
}

.centre p {
  padding: 1em 3em;
}
#uni-florida {
  fill: white;
  max-width: 80%;
}

#green {
  background-color: #a3d39b;
  border: 20px solid #d1e9cd;
}
#scarlet {
  background-color: #ff1e1c;
}
#magenta {
  background-color: #62082b;
}
#cyan {
  background-color: #0093ce;
}
#red {
  background-color: #d5171f;
}
#blue {
  background-color: #0d2481;
}
#lightblue {
  background-color: #b4d0e7;
}
#yellow {
  background-color: #ffd831;
}
/* SECTION6 */
#section6 {
  width: 100%;
  background-color: #b4d0e7;
}
.centred {
  align-items: center;
}
.trial {
  width: calc(100% / 2);
}
.trial h2 {
  padding: 3em 0;
}

.trial button {
  background-color: white;
  color: black;
  margin: 0 auto;
  display: block;
}

/* SECTION7 */
.question {
  padding: 2em 0;
  justify-content: space-between;
  position: relative;
}

.question p {
  font-weight: bold;
  padding: 1em 0;
}
.question i {
  padding: 1em;
  position: absolute;
  top: 25%;
  right: 0;
}
.fa-angle-down {
  color: black;
}
.hiddendiv p {
  font-weight: 100;
}

/* TOGGLE STRUCTURE */
.clicker.hidden {
  display: none;
}
.hiddendiv {
  display: none;
  /* background-color: red; */
}

#showdiv1:target ~ div a[href="#showdiv1"],
#showdiv2:target ~ div a[href="#showdiv2"],
#showdiv3:target ~ div a[href="#showdiv3"] {
  display: none;
}
#showdiv1:target ~ div a[href="#hidediv1"],
#showdiv2:target ~ div a[href="#hidediv2"],
#showdiv3:target ~ div a[href="#hidediv3"] {
  display: inline-block;
}
#showdiv1:target ~ div .hiddendiv.nr1,
#showdiv2:target ~ div .hiddendiv.nr2,
#showdiv3:target ~ div .hiddendiv.nr3 {
  display: block;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
}
.container-footer {
  margin: 0 auto 0;
  width: 60%;
  padding: 1em 0 2em 0;
}

.container-footer.flex {
  justify-content: space-between;
  flex-wrap: nowrap;
}
.foot-nav ul,
.foot-nav li {
  padding: 0.8em 0;
}

.language {
  font: 0.5rem;
  padding: 2em 0;
  color: grey;
}
